:root {
    --link: #904e55;
    --btn: #f2efe9;
    --foot: #f2efe9;
}
.z1{
    z-index: 1;
}
.img-zoom {
    transition: transform 0.8s ease; /* Suaviza la transición */
  }
  
  .img-zoom:hover {
    transform: scale(1.12); /* Aumenta el tamaño de la imagen al pasar el mouse */
    cursor: pointer;
    
  }
  .c2 p:hover{
    display: none;
  }
.z2{
    z-index: 2;

}
.p20{
    padding: 20px;
}

.mxh-70{
    max-height: 70vh;
}
/* Herramientas */
.c1 {
    overflow: hidden; /* Esto previene que el contenido sobresalga */
    
  }
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.c1 img {
    transition: transform 0.5s ease; /* Ajusta la duración y el tipo de transición según prefieras */
  }
  
  .c1 img:hover {
    transform: scale(1.1); /* Ajusta el factor de escala según el nivel de zoom deseado */
  }

.titulo{
    color: var(--foot);
}
.link:hover {
    color: var(--link)!important;
}
.container-1:hover{
    color: var(--link)!important;
    
}
.container-1{
    margin-top: 30px;
}

.c1 img{
    max-height: 300px;
}

.overlay{
    height: 100%;
    background-color: black;
    opacity: 0.5;

}

.overlay span{
    color: white;

}
.cp{
    background-color: #F2EFE9;
    padding: 20px;
}

.scroll{
    max-height: 400px;
    display: flex;
    overflow-x: auto;
    margin: 20px;
    max-width: 980px ;
}
.scroll::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.scroll .item{
    min-width: 200px;
    margin-right: 20px;
}

.c2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



@media (min-width: 985px) {
    
    .hover-div {
        position: relative;
      }
      .hover-div{
        background-color: #f2efe9;
      }
      
      .hover-div .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: background-color 0.5s ease; /* Transición suave para el efecto */
      }
      
      .hover-div:hover .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Oscurece al hacer hover */
      }

}
